.footer__link {
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
}

.footer__link:last-of-type {
    margin-right:none;
}
.footer__link:hover {
    color:#FFDEAD;
}

@media (min-width: 320px) and (max-width: 424px){
    .footer__link{
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 1;
        text-align: left;  
    }

    .footer__link:nth-of-type(4) {
        margin-bottom: 0px;
    }
}