.footer__copyright {
    margin: 0px;
    padding: 0px;
    max-width: 186px;
    font-size: 14px;
    line-height: 1;
    text-align: right;
}



@media screen and (max-width: 600px) {
    .footer__copyright {
        margin-left: 50px;
        
    }
}


@media screen and (max-width: 550px) {
    .footer__copyright {
        margin-left: 15px;
        
    }
}

@media screen and (max-width: 500px) {
    .footer__copyright {
        margin-left: 0px;
        align-self: flex-start;
        text-align: left;
        
    }
}


@media screen and (max-width: 320px) {
    .footer__copyright {
        margin-left: 0px;
        align-self: flex-start;
        text-align: left;
    }
}