@import url(__overlay/cover__overlay.css);
@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);

.cover {
    max-width: 92.5%;
    padding-bottom: 57.81%;
    margin: 92px auto;
    background-image: url(../../images/__background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

@media (min-width: 1024px) and (max-width: 1278px) {
    .cover {
        max-width: 100%;
        min-height: 640px;
        padding-bottom: 0px;
    }
}  

 @media (min-width: 768px) and (max-width: 1023px) {
    .cover {
        max-width: 100%;
        min-height: 480px;
        padding-bottom: 0px;
    }
} 


 @media (min-width: 320px) and (max-width: 424px){
    .cover {
        max-width: 100%;
        min-height: 200px;
        padding-bottom: 0px;
    }
