@import url(./__list/footer__list.css);
@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__nav/footer__nav.css);

.footer {
    width: 92.5%;
    max-width: 1184px;
    margin:auto;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px){
    .footer {
        margin-left: 5%;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        margin-left: 10%;
        width: 58.12%;
        flex-direction: column;
        justify-content: flex-start;
    }
}


@media screen and (max-width: 320px) {
    .footer {
        margin-left: 5%;
    }
}